
img{
	padding-top:50px; 
	padding-left: 490px; 
}
#black{
	margin-left:470px;

}
.hr{ 
	margin-right: 500px;
	margin-left:250px;
	height: 2px;
	background-color: skyblue; 

}
.h3{
	margin-left: 270px;
	color: darkred;
}
p{
	font-family: Dubai;
	margin-left:270px; 
}
.heading3{
	margin-left: 270px;
	color: darkred;
	}