
.anger{
	font-family: Century Schoolbook;
	margin-left: 30px;
	padding-top: 0; 
}
.order{
	font-family: Century Schoolbook;
}
.p{
	font-family: Century Schoolbook;
}
.hero{
	font-family: Century Schoolbook;
}
.happy{
	font-family: Century Schoolbook;
	margin-left: 30px; 
}
.further{
	font-family:  Century Schoolbook;
}
.select{
	font-family: Century Schoolbook;
}
.submit{
	font-family: Century Schoolbook;
}