body{
	background-color: gray;
	}

.anger{
	font-family: Arial Rounded MT;
	margin-left: 30px;
	padding-top: 0; 
}
.order{
	font-family: Arial Rounded MT;
}
.p{
	font-family: Arial Rounded MT;
}
.hero{
	font-family: Arial Rounded MT;
}
.happy{
	font-family: Arial Rounded MT;
	margin-left: 30px; 
}
.further{
	font-family:  Arial Rounded MT;
}
.select{
	font-family: Arial Rounded MT;
}
.submit{
	font-family: Arial Rounded MT;
}


















